.elementor-23094 .elementor-element.elementor-element-cf33090 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e5e5e5;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-23094 .elementor-element.elementor-element-cf33090>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23094 .elementor-element.elementor-element-0430b39>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-23094 .elementor-element.elementor-element-5858c0b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 2px 0px;
}

.elementor-23094 .elementor-element.elementor-element-54206a1>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-23094 .elementor-element.elementor-element-e1fae1d {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 12px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-23094 .elementor-element.elementor-element-e1fae1d .elementor-widget-container {
    text-align: right;
}

.elementor-23094 .elementor-element.elementor-element-e1fae1d .elementor-social-icon {
    --icon-padding: 0.4em;
}

.elementor-23094 .elementor-element.elementor-element-e1fae1d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 6px 0px 4px 0px;
}

.elementor-23094 .elementor-element.elementor-element-831d379:not(.elementor-motion-effects-element-type-background),
.elementor-23094 .elementor-element.elementor-element-831d379>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-23094 .elementor-element.elementor-element-831d379 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cecece;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px 0px 0px 0px;
    z-index: 2800;
}

.elementor-23094 .elementor-element.elementor-element-831d379>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23094 .elementor-element.elementor-element-3e577df>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-23094 .elementor-element.elementor-element-002b5bb {
    text-align: left;
    z-index: 500;
}

.elementor-23094 .elementor-element.elementor-element-002b5bb>.elementor-widget-container {
    margin: 2px 0px 0px 0px;
}

.elementor-23094 .elementor-element.elementor-element-dc4d449 .elementor-search-form {
    text-align: right;
}

.elementor-23094 .elementor-element.elementor-element-dc4d449 .elementor-search-form__toggle {
    --e-search-form-toggle-size: 33px;
    --e-search-form-toggle-background-color: #FFFFFF;
}

.elementor-23094 .elementor-element.elementor-element-dc4d449:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container {
    border-radius: 3px;
}

.elementor-23094 .elementor-element.elementor-element-dc4d449.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
    border-radius: 3px;
}

.elementor-23094 .elementor-element.elementor-element-dc4d449>.elementor-widget-container {
    margin: 23px 0px 0px 0px;
}

.elementor-23094 .elementor-element.elementor-element-dc4d449 {
    z-index: 6001;
}

.elementor-23094 .elementor-element.elementor-element-782a61d {
    margin-top: -84px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-23094 .elementor-element.elementor-element-ece611d>.elementor-widget-container {
    margin: 0px 0px 0px -32px;
}

.elementor-23094 .elementor-element.elementor-element-ece611d {
    z-index: 100;
}

.elementor-23094 .elementor-element.elementor-element-25af7ae:not(.elementor-motion-effects-element-type-background),
.elementor-23094 .elementor-element.elementor-element-25af7ae>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-23094 .elementor-element.elementor-element-25af7ae {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    z-index: 5000;
}

.elementor-23094 .elementor-element.elementor-element-25af7ae>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-menu-toggle {
    margin-right: auto;
    background-color: #FFFFFF;
    font-size: 33px;
    border-width: 0px;
    border-radius: 0px;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu .elementor-item {
    font-family: "Rubik";
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main .elementor-item:hover,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main .elementor-item:focus {
    color: #ff842c;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #ff842c;
}

body:not(.rtl) .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child) {
    margin-right: 10px;
}

body.rtl .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li:not(:last-child) {
    margin-left: 10px;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown {
    background-color: #ff842c;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a:hover,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a.highlighted,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-menu-toggle:hover {
    color: #ff842c;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a:hover,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #E4E4E4;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #ff842c;
    background-color: #DBDBDB;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown .elementor-item,
.elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "VerdanaCustom";
    font-weight: bold;
}

.elementor-23094 .elementor-element.elementor-element-7461e629 div.elementor-menu-toggle {
    color: #ff842c;
}

.elementor-23094 .elementor-element.elementor-element-d9e4d30 .elementor-search-form {
    text-align: center;
}

.elementor-23094 .elementor-element.elementor-element-d9e4d30 .elementor-search-form__toggle {
    --e-search-form-toggle-size: 33px;
    --e-search-form-toggle-color: #54595F;
    --e-search-form-toggle-background-color: #FFFFFF;
}

.elementor-23094 .elementor-element.elementor-element-d9e4d30:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container {
    border-radius: 3px;
}

.elementor-23094 .elementor-element.elementor-element-d9e4d30.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {
    border-radius: 3px;
}

@media(max-width:1024px) {
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 0px !important;
    }
}

@media(max-width:767px) {
    .elementor-23094 .elementor-element.elementor-element-cf33090 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-23094 .elementor-element.elementor-element-831d379 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-23094 .elementor-element.elementor-element-002b5bb {
        text-align: center;
    }
    .elementor-23094 .elementor-element.elementor-element-25af7ae {
        padding: 0px 0px 0px 0px;
    }
    .elementor-23094 .elementor-element.elementor-element-b0a2b74 {
        width: 20%;
    }
    .elementor-bc-flex-widget .elementor-23094 .elementor-element.elementor-element-b0a2b74.elementor-column .elementor-column-wrap {
        align-items: center;
    }
    .elementor-23094 .elementor-element.elementor-element-b0a2b74.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu .elementor-item {
        font-size: 16px;
    }
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown .elementor-item,
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown .elementor-sub-item {
        font-size: 16px;
    }
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--dropdown a {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-23094 .elementor-element.elementor-element-7461e629 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 11px !important;
    }
    .elementor-23094 .elementor-element.elementor-element-7461e629>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-23094 .elementor-element.elementor-element-28d5017 {
        width: 50%;
    }
    .elementor-bc-flex-widget .elementor-23094 .elementor-element.elementor-element-28d5017.elementor-column .elementor-column-wrap {
        align-items: center;
    }
    .elementor-23094 .elementor-element.elementor-element-28d5017.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-23094 .elementor-element.elementor-element-93c8060 img {
        width: 75%;
    }
    .elementor-23094 .elementor-element.elementor-element-773cf3a {
        width: 15%;
    }
    .elementor-bc-flex-widget .elementor-23094 .elementor-element.elementor-element-773cf3a.elementor-column .elementor-column-wrap {
        align-items: center;
    }
    .elementor-23094 .elementor-element.elementor-element-773cf3a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-23094 .elementor-element.elementor-element-d9e4d30>.elementor-widget-container {
        margin: 1px 0px 0px 0px;
    }
    .elementor-23094 .elementor-element.elementor-element-95bed0c {
        width: 15%;
    }
}

@media(min-width:768px) {
    .elementor-23094 .elementor-element.elementor-element-cccbebc {
        width: 21.158%;
    }
    .elementor-23094 .elementor-element.elementor-element-3f7fb97 {
        width: 54.719%;
    }
    .elementor-23094 .elementor-element.elementor-element-7a11e16 {
        width: 18.334%;
    }
    .elementor-23094 .elementor-element.elementor-element-8bf9c30 {
        width: 5.789%;
    }
}


/* Start custom CSS */

.empty-cart-btn {
    margin-top: 10px;
    background: red;
}


/* End custom CSS */


/* Start Custom Fonts CSS */

@font-face {
    font-family: 'VerdanaCustom';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('../../2018/10/Verdana.ttf') format('truetype');
}


/* End Custom Fonts CSS */