.elementor-52261 .elementor-element.elementor-element-397a988:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-397a988 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2018/gasterm/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-52261 .elementor-element.elementor-element-397a988 > .elementor-background-overlay {
    background-color: #3E3E3E54;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-397a988 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 270px 0px 270px 0px;
}

.elementor-bc-flex-widget .elementor-52261 .elementor-element.elementor-element-7fb3e38.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-7fb3e38.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-70f5cc6 {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-70f5cc6 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 46px;
    font-weight: normal;
    line-height: 1.5em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.elementor-52261 .elementor-element.elementor-element-494e075 {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-494e075 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.elementor-52261 .elementor-element.elementor-element-8e9ff64 .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    padding: 012px 20px 13px 20px;
}

.elementor-52261 .elementor-element.elementor-element-1df59fd .elementor-button {
    background-color: #ABABAB;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 50px 50px 50px 50px;
    padding: 011px 40px 012px 40px;
}

.elementor-52261 .elementor-element.elementor-element-1df59fd .elementor-button:hover, .elementor-52261 .elementor-element.elementor-element-1df59fd .elementor-button:focus {
    background-color: #ff842c;
}

.elementor-52261 .elementor-element.elementor-element-06d80ae:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-06d80ae > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-52261 .elementor-element.elementor-element-06d80ae {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 70px 0px;
}

.elementor-52261 .elementor-element.elementor-element-06d80ae > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-41c55a8 {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-41c55a8 .elementor-heading-title {
    color: #54595F;
    font-family: "Agane";
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5em;
}

.elementor-52261 .elementor-element.elementor-element-afe3f21 {
    text-align: center;
    color: #54595F;
    font-family: "Agane";
    font-size: 18px;
}

.elementor-52261 .elementor-element.elementor-element-b824583 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-b824583:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-b824583 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-52261 .elementor-element.elementor-element-b824583 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-52261 .elementor-element.elementor-element-b824583 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-50dc7fb > .elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506.elementor-view-stacked .elementor-icon {
    background-color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506.elementor-view-framed .elementor-icon, .elementor-52261 .elementor-element.elementor-element-d9ad506.elementor-view-default .elementor-icon {
    fill: #54595F;
    color: #54595F;
    border-color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon {
    font-size: 45px;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon-box-title {
    color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon-box-title, .elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon-box-title a {
    font-family: "Agane";
    font-size: 22px;
    font-weight: normal;
}

.elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon-box-description {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-52261 .elementor-element.elementor-element-eed434c > .elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1.elementor-view-stacked .elementor-icon {
    background-color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1.elementor-view-framed .elementor-icon, .elementor-52261 .elementor-element.elementor-element-bf126f1.elementor-view-default .elementor-icon {
    fill: #54595F;
    color: #54595F;
    border-color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon {
    font-size: 45px;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon-box-title {
    color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon-box-title, .elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon-box-title a {
    font-family: "Agane";
    font-size: 22px;
    font-weight: normal;
}

.elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon-box-description {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-52261 .elementor-element.elementor-element-913fb58 > .elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-52261 .elementor-element.elementor-element-8231855.elementor-view-stacked .elementor-icon {
    background-color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-8231855.elementor-view-framed .elementor-icon, .elementor-52261 .elementor-element.elementor-element-8231855.elementor-view-default .elementor-icon {
    fill: #54595F;
    color: #54595F;
    border-color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-8231855.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-52261 .elementor-element.elementor-element-8231855.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-52261 .elementor-element.elementor-element-8231855.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon {
    font-size: 45px;
}

.elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon-box-title {
    color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon-box-title, .elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon-box-title a {
    font-family: "Agane";
    font-size: 22px;
    font-weight: normal;
}

.elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon-box-description {
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-52261 .elementor-element.elementor-element-8fe1597:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-8fe1597 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2018/gasterm/COVER2.jpg");
    background-position: top right;
    background-size: cover;
}

.elementor-52261 .elementor-element.elementor-element-8fe1597 > .elementor-background-overlay {
    background-color: #54595F;
    opacity: 0.34;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-8fe1597 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 150px 0px 150px 0px;
}

.elementor-52261 .elementor-element.elementor-element-859bda1 {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-859bda1 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 46px;
    font-weight: normal;
    line-height: 1.5em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.elementor-52261 .elementor-element.elementor-element-eb73593 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 20px;
}

.elementor-52261 .elementor-element.elementor-element-eb73593 > .elementor-widget-container {
    margin: 0px 250px -32px 250px;
}

.elementor-52261 .elementor-element.elementor-element-0c09518:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-0c09518 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
}

.elementor-52261 .elementor-element.elementor-element-0c09518 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 10px 0px;
}

.elementor-52261 .elementor-element.elementor-element-0c09518 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-52261 .elementor-element.elementor-element-ac91138.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-ac91138.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-ac91138:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-52261 .elementor-element.elementor-element-ac91138 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-52261 .elementor-element.elementor-element-ac91138 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
}

.elementor-52261 .elementor-element.elementor-element-ac91138 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-0d72f53 img {
    width: 80%;
}

.elementor-bc-flex-widget .elementor-52261 .elementor-element.elementor-element-805db68.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-805db68.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-805db68:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-52261 .elementor-element.elementor-element-805db68 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-52261 .elementor-element.elementor-element-805db68 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
}

.elementor-52261 .elementor-element.elementor-element-805db68 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-e6d4179 {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-e6d4179 .elementor-heading-title {
    color: #54595f;
    font-family: "Agane";
    font-size: 30px;
    line-height: 1.5em;
}

.elementor-52261 .elementor-element.elementor-element-e6d4179 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-52261 .elementor-element.elementor-element-ff6a80b .elementor-icon-list-icon i {
    color: #23A455;
    font-size: 14px;
}

.elementor-52261 .elementor-element.elementor-element-ff6a80b .elementor-icon-list-icon svg {
    fill: #23A455;
    width: 14px;
}

.elementor-52261 .elementor-element.elementor-element-ff6a80b .elementor-icon-list-icon {
    text-align: left;
}

.elementor-52261 .elementor-element.elementor-element-ff6a80b .elementor-icon-list-text {
    color: #54595F;
}

.elementor-52261 .elementor-element.elementor-element-ff6a80b .elementor-icon-list-item, .elementor-52261 .elementor-element.elementor-element-ff6a80b .elementor-icon-list-item a {
    font-family: "Agane";
    font-size: 18px;
}

.elementor-52261 .elementor-element.elementor-element-ff6a80b > .elementor-widget-container {
    margin: 0px 0px 0px 90px;
}

.elementor-52261 .elementor-element.elementor-element-a890cc7 .elementor-button {
    border-radius: 50px 50px 50px 50px;
}

.elementor-52261 .elementor-element.elementor-element-a890cc7 > .elementor-widget-container {
    margin: 10px 0px 0px 90px;
}

.elementor-52261 .elementor-element.elementor-element-a890cc7 {
    width: auto;
    max-width: auto;
}

.elementor-52261 .elementor-element.elementor-element-61d3b30:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-61d3b30 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #F9F9F9 0%, #FFFFFF 100%);
}

.elementor-52261 .elementor-element.elementor-element-61d3b30 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 50px 0px;
}

.elementor-52261 .elementor-element.elementor-element-61d3b30 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-52261 .elementor-element.elementor-element-d0191fc.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-d0191fc.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-d0191fc:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-52261 .elementor-element.elementor-element-d0191fc > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-52261 .elementor-element.elementor-element-d0191fc > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 50px 60px 50px;
}

.elementor-52261 .elementor-element.elementor-element-d0191fc > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-74487d8 {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-74487d8 .elementor-heading-title {
    color: #54595F;
    font-family: "Agane";
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5em;
}

.elementor-52261 .elementor-element.elementor-element-9acabd4 {
    text-align: center;
    color: #54595F;
    font-family: "Agane";
    font-size: 18px;
}

.elementor-bc-flex-widget .elementor-52261 .elementor-element.elementor-element-79144f4.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-79144f4.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-79144f4:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-52261 .elementor-element.elementor-element-79144f4 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-52261 .elementor-element.elementor-element-79144f4 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-52261 .elementor-element.elementor-element-79144f4 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-6ea63d7 img {
    width: 100%;
}

.elementor-52261 .elementor-element.elementor-element-dfd1b11:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-dfd1b11 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-52261 .elementor-element.elementor-element-dfd1b11 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 70px 0px 0px 0px;
}

.elementor-52261 .elementor-element.elementor-element-dfd1b11 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-e5922fc {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-e5922fc .elementor-heading-title {
    color: #54595F;
    font-family: "Agane";
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5em;
}

.elementor-52261 .elementor-element.elementor-element-e122af0 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-52261 .elementor-element.elementor-element-e122af0:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-e122af0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-52261 .elementor-element.elementor-element-e122af0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-52261 .elementor-element.elementor-element-e122af0 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-8a49173 > .elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-52261 .elementor-element.elementor-element-e249de3.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-52261 .elementor-element.elementor-element-e249de3.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-52261 .elementor-element.elementor-element-e249de3.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-52261 .elementor-element.elementor-element-e249de3 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-52261 .elementor-element.elementor-element-e249de3 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-e249de3 .elementor-image-box-title {
    color: #54595F;
    font-family: "Agane";
}

.elementor-52261 .elementor-element.elementor-element-93de31a > .elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-52261 .elementor-element.elementor-element-165bb01.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-52261 .elementor-element.elementor-element-165bb01.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-52261 .elementor-element.elementor-element-165bb01.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-52261 .elementor-element.elementor-element-165bb01 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-52261 .elementor-element.elementor-element-165bb01 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-165bb01 .elementor-image-box-title {
    color: #54595F;
    font-family: "Agane";
}

.elementor-52261 .elementor-element.elementor-element-632554d > .elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-52261 .elementor-element.elementor-element-8ec6713.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-52261 .elementor-element.elementor-element-8ec6713.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-52261 .elementor-element.elementor-element-8ec6713.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-52261 .elementor-element.elementor-element-8ec6713 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-52261 .elementor-element.elementor-element-8ec6713 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-8ec6713 .elementor-image-box-title {
    color: #54595F;
    font-family: "Agane";
}

.elementor-52261 .elementor-element.elementor-element-e9eaba7 > .elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-52261 .elementor-element.elementor-element-5126e56.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-52261 .elementor-element.elementor-element-5126e56.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-52261 .elementor-element.elementor-element-5126e56.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-52261 .elementor-element.elementor-element-5126e56 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-52261 .elementor-element.elementor-element-5126e56 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-5126e56 .elementor-image-box-title {
    color: #54595F;
    font-family: "Agane";
}

.elementor-52261 .elementor-element.elementor-element-b91a221:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-b91a221 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2018/gasterm/cover 3.jpg");
    background-position: top center;
    background-size: cover;
}

.elementor-52261 .elementor-element.elementor-element-b91a221 > .elementor-background-overlay {
    background-color: #54595F;
    opacity: 0.61;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-b91a221 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 150px 0px 150px 0px;
}

.elementor-52261 .elementor-element.elementor-element-24dad0d {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-24dad0d .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 46px;
    font-weight: normal;
    line-height: 1.5em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.elementor-52261 .elementor-element.elementor-element-9578ca8 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 20px;
}

.elementor-52261 .elementor-element.elementor-element-9578ca8 > .elementor-widget-container {
    margin: 0px 250px -32px 250px;
}

.elementor-52261 .elementor-element.elementor-element-0844480:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-0844480 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-52261 .elementor-element.elementor-element-0844480 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-52261 .elementor-element.elementor-element-0844480 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-0e9073a {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-0e9073a .elementor-heading-title {
    color: #54595F;
    font-family: "Agane";
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5em;
}

.elementor-52261 .elementor-element.elementor-element-0b9ae40:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-0b9ae40 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2019/12/electric-future.jpg");
    background-position: top center;
    background-size: cover;
}

.elementor-52261 .elementor-element.elementor-element-0b9ae40 > .elementor-background-overlay {
    background-color: #54595F;
    opacity: 0.34;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-52261 .elementor-element.elementor-element-0b9ae40 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 150px 0px 150px 0px;
}

.elementor-52261 .elementor-element.elementor-element-8def4af > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-52261 .elementor-element.elementor-element-1c82f2b {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-1c82f2b .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 46px;
    font-weight: normal;
    line-height: 1.5em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.elementor-52261 .elementor-element.elementor-element-1a8c184 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 20px;
}

.elementor-52261 .elementor-element.elementor-element-1a8c184 > .elementor-widget-container {
    margin: 0px 250px -32px 250px;
}

.elementor-52261 .elementor-element.elementor-element-0afe599 .elementor-button {
    border-radius: 50px 50px 50px 50px;
}

.elementor-52261 .elementor-element.elementor-element-7fda9cf {
    padding: 50px 0px 100px 0px;
}

.elementor-52261 .elementor-element.elementor-element-c995567 {
    text-align: center;
}

.elementor-52261 .elementor-element.elementor-element-c995567 .elementor-heading-title {
    color: #54595F;
    font-family: "Agane";
    font-size: 24px;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion {
    border-radius: 50px 50px 50px 50px;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
    font-size: 16px;
    margin-left: 10px;
    color: #333;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title {
    color: #333;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon-svg svg {
    color: #333;
    fill: #333;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
    border-radius: 50px 50px 50px 50px;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .eael-accordion-tab-title {
    color: #fff;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon {
    color: #fff;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon svg {
    color: #fff;
    fill: #fff;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover {
    border-radius: 50px 50px 50px 50px;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
    color: #fff;
    border-radius: 50px 50px 50px 50px;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .eael-accordion-tab-title {
    color: #fff;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon {
    color: #fff;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon svg {
    color: #fff;
    fill: #fff;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-content {
    color: #333;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle, .elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header > .fa-toggle-svg {
    font-size: 16px;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle {
    color: #444;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle svg {
    color: #444;
    fill: #444;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle {
    color: #fff;
}

.elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle svg {
    color: #fff;
    fill: #fff;
}

@media (min-width: 1025px) {
    .elementor-52261 .elementor-element.elementor-element-b91a221:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-b91a221 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-52261 .elementor-element.elementor-element-0b9ae40:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-0b9ae40 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media (max-width: 1024px) {
    .elementor-52261 .elementor-element.elementor-element-7fb3e38 > .elementor-element-populated {
        margin: 0px 0px 0px 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-b824583 {
        padding: 25px 25px 25px 25px;
    }

    .elementor-52261 .elementor-element.elementor-element-50dc7fb > .elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon-box-title, .elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon-box-title a {
        font-size: 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-eed434c > .elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon-box-title, .elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon-box-title a {
        font-size: 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-913fb58 > .elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon-box-title, .elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon-box-title a {
        font-size: 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-8fe1597 {
        padding: 200px 0px 200px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-0c09518 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-0d72f53 img {
        width: 59%;
    }

    .elementor-52261 .elementor-element.elementor-element-e6d4179 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-52261 .elementor-element.elementor-element-e6d4179 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 60px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-e122af0 {
        padding: 25px 25px 25px 25px;
    }

    .elementor-52261 .elementor-element.elementor-element-8a49173 > .elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-93de31a > .elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-632554d > .elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-e9eaba7 > .elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-b91a221 {
        padding: 200px 0px 200px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-0b9ae40 {
        padding: 200px 0px 200px 0px;
    }
}

@media (max-width: 767px) {
    .elementor-52261 .elementor-element.elementor-element-397a988:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-397a988 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-image: url("../../2020/09/boiler-in-utility-room1.jpg");
        background-position: center right;
    }

    .elementor-52261 .elementor-element.elementor-element-397a988 {
        padding: 60px 20px 30px 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-7fb3e38 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-70f5cc6 .elementor-heading-title {
        font-size: 60px;
    }

    .elementor-52261 .elementor-element.elementor-element-70f5cc6 > .elementor-widget-container {
        padding: 0px 30px 0px 30px;
    }

    .elementor-52261 .elementor-element.elementor-element-494e075 .elementor-heading-title {
        font-size: 32px;
    }

    .elementor-52261 .elementor-element.elementor-element-494e075 > .elementor-widget-container {
        padding: 0px 40px 0px 40px;
    }

    .elementor-52261 .elementor-element.elementor-element-06d80ae {
        padding: 20px 10px 50px 10px;
    }

    .elementor-52261 .elementor-element.elementor-element-afe3f21 {
        font-size: 16px;
        line-height: 1.5em;
    }

    .elementor-52261 .elementor-element.elementor-element-b824583 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-50dc7fb > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-d9ad506 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-eed434c > .elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-bf126f1 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-913fb58 > .elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-8231855 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-8fe1597:not(.elementor-motion-effects-element-type-background), .elementor-52261 .elementor-element.elementor-element-8fe1597 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        background-image: url("../../2020/08/boiler-in-cupboard.jpg");
        background-position: top right;
        background-size: cover;
    }

    .elementor-52261 .elementor-element.elementor-element-8fe1597 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-859bda1 .elementor-heading-title {
        font-size: 39px;
    }

    .elementor-52261 .elementor-element.elementor-element-859bda1 > .elementor-widget-container {
        padding: 70px 40px 60px 40px;
    }

    .elementor-52261 .elementor-element.elementor-element-eb73593 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-52261 .elementor-element.elementor-element-0c09518 {
        padding: 20px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-ac91138 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 10px 10px 10px 10px;
    }

    .elementor-52261 .elementor-element.elementor-element-805db68 > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-e6d4179 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-ff6a80b .elementor-icon-list-icon {
        text-align: left;
    }

    .elementor-52261 .elementor-element.elementor-element-ff6a80b > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-52261 .elementor-element.elementor-element-a890cc7 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-61d3b30 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-d0191fc > .elementor-element-populated {
        padding: 20px 20px 20px 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-9acabd4 {
        font-size: 16px;
        line-height: 1.5em;
    }

    .elementor-52261 .elementor-element.elementor-element-79144f4 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 10px 10px 10px 10px;
    }

    .elementor-52261 .elementor-element.elementor-element-6ea63d7 > .elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-dfd1b11 {
        padding: 20px 20px 0px 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-e122af0 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-52261 .elementor-element.elementor-element-8a49173 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-e249de3 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-93de31a > .elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-165bb01 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-632554d > .elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-8ec6713 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-e9eaba7 > .elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-5126e56 .elementor-image-box-img {
        margin-bottom: 15px;
    }

    .elementor-52261 .elementor-element.elementor-element-b91a221 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-24dad0d .elementor-heading-title {
        font-size: 39px;
    }

    .elementor-52261 .elementor-element.elementor-element-24dad0d > .elementor-widget-container {
        padding: 70px 40px 60px 40px;
    }

    .elementor-52261 .elementor-element.elementor-element-9578ca8 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-52261 .elementor-element.elementor-element-0844480 {
        padding: 20px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-0e9073a .elementor-heading-title {
        font-size: 18px;
    }

    .elementor-52261 .elementor-element.elementor-element-0e9073a > .elementor-widget-container {
        padding: 0px 10px 30px 10px;
    }

    .elementor-52261 .elementor-element.elementor-element-0b9ae40 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-1c82f2b .elementor-heading-title {
        font-size: 39px;
    }

    .elementor-52261 .elementor-element.elementor-element-1c82f2b > .elementor-widget-container {
        padding: 70px 40px 60px 40px;
    }

    .elementor-52261 .elementor-element.elementor-element-1a8c184 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-52261 .elementor-element.elementor-element-7fda9cf {
        padding: 30px 0px 50px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title {
        font-size: 14px;
        line-height: 1.5em;
    }

    .elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
        font-size: 0px;
        margin-left: 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
        padding: 6px 15px 6px 15px;
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle, .elementor-52261 .elementor-element.elementor-element-052e639 .eael-adv-accordion .eael-accordion-list .eael-accordion-header > .fa-toggle-svg {
        font-size: 13px;
    }

    .elementor-52261 .elementor-element.elementor-element-052e639 > .elementor-widget-container {
        padding: 0px 10px 0px 10px;
    }
}

/* Start Custom Fonts CSS
@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('../../2020/04/AGANE%c3%a2%c2%95%c2%a0%c3%83%c2%87-45-LIGHT.html') format('truetype');
}

@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url('../../2020/04/AGANE%c3%a2%c2%95%c2%a0%c3%83%c2%87-65-BOLD.html') format('truetype');
}

@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: 100;
    font-display: auto;
    src: url('../../2020/04/Agane%c3%a2%c2%95%c2%a0%c3%83%c2%87-45-light-2.html') format('truetype');
} */

/* End Custom Fonts CSS */