.elementor-12419 .elementor-element.elementor-element-24a4990:not(.elementor-motion-effects-element-type-background),
.elementor-12419 .elementor-element.elementor-element-24a4990>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-12419 .elementor-element.elementor-element-24a4990 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 5px 0px 0px;
}

.elementor-12419 .elementor-element.elementor-element-24a4990>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12419 .elementor-element.elementor-element-16e6dd3 iframe {
    height: 584px;
}

.elementor-12419 .elementor-element.elementor-element-16e6dd3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-12419 .elementor-element.elementor-element-74abf80:not(.elementor-motion-effects-element-type-background),
.elementor-12419 .elementor-element.elementor-element-74abf80>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ff842c;
}

.elementor-12419 .elementor-element.elementor-element-74abf80 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 0px 20px 0px;
}

.elementor-12419 .elementor-element.elementor-element-74abf80>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12419 .elementor-element.elementor-element-7c98e91 {
    text-align: center;
}

.elementor-12419 .elementor-element.elementor-element-7c98e91 .elementor-heading-title {
    color: #ffffff;
    font-family: "Verdana";
    font-size: 25px;
    font-weight: 600;
}

.elementor-12419 .elementor-element.elementor-element-a41d257 {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-12419 .elementor-element.elementor-element-a41d257>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-12419 .elementor-element.elementor-element-3140b5d {
    text-align: center;
}

.elementor-12419 .elementor-element.elementor-element-3140b5d .elementor-heading-title {
    color: #ffffff;
    font-family: "Verdana";
    font-size: 25px;
    font-weight: 600;
}

.elementor-12419 .elementor-element.elementor-element-09886d3 {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-12419 .elementor-element.elementor-element-09886d3>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-12419 .elementor-element.elementor-element-04f57ae {
    text-align: center;
}

.elementor-12419 .elementor-element.elementor-element-04f57ae .elementor-heading-title {
    color: #ffffff;
    font-family: "Verdana";
    font-size: 25px;
    font-weight: 600;
}

.elementor-12419 .elementor-element.elementor-element-377e306 {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-12419 .elementor-element.elementor-element-377e306>.elementor-widget-container {
    padding: 10px 0px 0px 0px;
}

.elementor-12419 .elementor-element.elementor-element-a316a73:not(.elementor-motion-effects-element-type-background),
.elementor-12419 .elementor-element.elementor-element-a316a73>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f4f4f4;
}

.elementor-12419 .elementor-element.elementor-element-a316a73 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-12419 .elementor-element.elementor-element-a316a73>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12419 .elementor-element.elementor-element-eb4b7d9:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-12419 .elementor-element.elementor-element-eb4b7d9>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-12419 .elementor-element.elementor-element-eb4b7d9>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 100px 0px 100px 0px;
    padding: 30px 30px 30px 30px;
}

.elementor-12419 .elementor-element.elementor-element-eb4b7d9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12419 .elementor-element.elementor-element-ce32b70 {
    text-align: center;
}

.elementor-12419 .elementor-element.elementor-element-ce32b70 .elementor-heading-title {
    color: #54595f;
    font-size: 30px;
}

.elementor-12419 .elementor-element.elementor-element-ce32b70>.elementor-widget-container {
    padding: 20px 0px 0px 0px;
}

.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms label.wpforms-error {
    display: block !important;
}

.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms .wpforms-field label {
    color: #7a7a7a;
    font-family: "Roboto";
}

.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms .wpforms-field {
    margin-bottom: 7px;
}

.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms .wpforms-submit-container .wpforms-submit {
    background-size: 200% 100%;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to left, #ff842c, #ffa808);
    border: none;
    color: #ffffff;
    border-radius: 50px 50px 50px 50px;
}

.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms .wpforms-submit-container .wpforms-submit::after {
    background-image: linear-gradient(to left, #3f57ff, #0493ff);
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(0deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms .wpforms-submit-container .wpforms-submit:hover::after {
    transform: translate(0, 0)
}

.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms .wpforms-submit-container .wpforms-submit:hover {
    will-change: transform
}

.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms input.wpforms-error,
.elementor-12419 .elementor-element.elementor-element-ee344f9 .eael-wpforms textarea.wpforms-error {
    border-width: 1px;
}

.elementor-12419 .elementor-element.elementor-element-005489b>.elementor-widget-container {
    margin: -30px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-12419 .elementor-element.elementor-element-24a4990 {
        padding: 0px 0px 100px 0px;
    }
}

@media(max-width:767px) {
    .elementor-12419 .elementor-element.elementor-element-24a4990 {
        padding: 10px 10px 50px 10px;
    }
    .elementor-12419 .elementor-element.elementor-element-a316a73 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-12419 .elementor-element.elementor-element-eb4b7d9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
    }
}


/* Start custom CSS for text-editor, class: .elementor-element-a41d257 */

a[href=tel] {
    text-decoration: inherit;
    color: inherit;
}


/* End custom CSS */