.elementor-20936 .elementor-element.elementor-element-f834b1c>.elementor-container {
    min-height: 577px;
}

.elementor-20936 .elementor-element.elementor-element-f834b1c:not(.elementor-motion-effects-element-type-background),
.elementor-20936 .elementor-element.elementor-element-f834b1c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ff842c;
}

.elementor-20936 .elementor-element.elementor-element-f834b1c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-20936 .elementor-element.elementor-element-f834b1c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20936 .elementor-element.elementor-element-2e4b9ce.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-20936 .elementor-element.elementor-element-2e4b9ce.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-20936 .elementor-element.elementor-element-9376288 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 45px;
    line-height: 1.3em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-20936 .elementor-element.elementor-element-9376288>.elementor-widget-container {
    margin: 0px 100px 0px 0px;
}

.elementor-20936 .elementor-element.elementor-element-a9cc4e2 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Agane";
}

.elementor-20936 .elementor-element.elementor-element-dae013c img {
    width: 100%;
}

.elementor-20936 .elementor-element.elementor-element-3759d16:not(.elementor-motion-effects-element-type-background),
.elementor-20936 .elementor-element.elementor-element-3759d16>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-20936 .elementor-element.elementor-element-3759d16 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -67px;
    padding: 50px 0px 50px 0px;
}

.elementor-20936 .elementor-element.elementor-element-3759d16>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20936 .elementor-element.elementor-element-3ce8610:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-20936 .elementor-element.elementor-element-3ce8610>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-20936 .elementor-element.elementor-element-3ce8610>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-20936 .elementor-element.elementor-element-3ce8610>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20936 .elementor-element.elementor-element-8329ec5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px 10px 0px;
}

.elementor-20936 .elementor-element.elementor-element-8329ec5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20936 .elementor-element.elementor-element-da51071>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-20936 .elementor-element.elementor-element-c7ff9e4 .elementor-heading-title {
    color: #54595F;
    font-family: "Verdana";
    font-size: 28px;
    line-height: 1.5em;
    letter-spacing: 2.2px;
}

.elementor-20936 .elementor-element.elementor-element-c7ff9e4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
}

.elementor-20936 .elementor-element.elementor-element-c424b84 .elementor-heading-title {
    color: #54595f;
    font-family: "Verdana";
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 2.2px;
}

.elementor-20936 .elementor-element.elementor-element-c424b84>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
}

.elementor-20936 .elementor-element.elementor-element-e47389f:not(.elementor-motion-effects-element-type-background),
.elementor-20936 .elementor-element.elementor-element-e47389f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ff842c;
}

.elementor-20936 .elementor-element.elementor-element-e47389f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px 0px 10px 0px;
}

.elementor-20936 .elementor-element.elementor-element-e47389f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20936 .elementor-element.elementor-element-0f4a5b6>.elementor-widget-container {
    background-color: #ffffff;
}

.elementor-20936 .elementor-element.elementor-element-77935d3 {
    margin-top: 100px;
    margin-bottom: -20px;
    padding: 0px 0px 50px 0px;
}

.elementor-20936 .elementor-element.elementor-element-1ab0975 {
    --divider-border-style: solid;
    --divider-color: #e5e5e5;
    --divider-border-width: 1px;
}

.elementor-20936 .elementor-element.elementor-element-1ab0975 .elementor-divider-separator {
    width: 100%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-20936 .elementor-element.elementor-element-1ab0975 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-20936 .elementor-element.elementor-element-7ad497b {
    text-align: center;
}

.elementor-20936 .elementor-element.elementor-element-7ad497b .elementor-heading-title {
    color: #54595f;
    font-family: "Agane";
    font-size: 21px;
    letter-spacing: 2.2px;
}

.elementor-20936 .elementor-element.elementor-element-7ad497b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-20936 .elementor-element.elementor-element-68a41f8 .elementor-button {
    border-radius: 50px 50px 50px 50px;
}

@media(max-width:1024px) {
    .elementor-20936 .elementor-element.elementor-element-3759d16:not(.elementor-motion-effects-element-type-background),
    .elementor-20936 .elementor-element.elementor-element-3759d16>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: -285px -198px;
    }
    .elementor-20936 .elementor-element.elementor-element-3759d16 {
        padding: 50px 50px 50px 50px;
    }
}

@media(min-width:768px) {
    .elementor-20936 .elementor-element.elementor-element-2e4b9ce {
        width: 50.281%;
    }
    .elementor-20936 .elementor-element.elementor-element-95028d5 {
        width: 49.633%;
    }
}

@media(max-width:767px) {
    .elementor-20936 .elementor-element.elementor-element-9376288 {
        text-align: center;
    }
    .elementor-20936 .elementor-element.elementor-element-9376288 .elementor-heading-title {
        font-size: 33px;
    }
    .elementor-20936 .elementor-element.elementor-element-9376288>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-20936 .elementor-element.elementor-element-a9cc4e2 {
        text-align: center;
    }
    .elementor-20936 .elementor-element.elementor-element-3759d16:not(.elementor-motion-effects-element-type-background),
    .elementor-20936 .elementor-element.elementor-element-3759d16>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: -164px -179px;
    }
    .elementor-20936 .elementor-element.elementor-element-3759d16 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-20936 .elementor-element.elementor-element-3ce8610>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-20936 .elementor-element.elementor-element-8329ec5 {
        margin-top: -0px;
        margin-bottom: 0px;
    }
    .elementor-20936 .elementor-element.elementor-element-da51071>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-20936 .elementor-element.elementor-element-c7ff9e4 .elementor-heading-title {
        font-size: 24px;
        line-height: 1.5em;
    }
    .elementor-20936 .elementor-element.elementor-element-c7ff9e4>.elementor-widget-container {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
    }
    .elementor-20936 .elementor-element.elementor-element-c424b84 .elementor-heading-title {
        font-size: 18px;
        line-height: 1.5em;
    }
    .elementor-20936 .elementor-element.elementor-element-c424b84>.elementor-widget-container {
        margin: -42px 20px 20px 20px;
        padding: 20px 20px 20px 0px;
    }
    .elementor-20936 .elementor-element.elementor-element-0f4a5b6>.elementor-widget-container {
        margin: -61px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }
    .elementor-20936 .elementor-element.elementor-element-77935d3 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .elementor-20936 .elementor-element.elementor-element-7ad497b {
        text-align: center;
    }
    .elementor-20936 .elementor-element.elementor-element-7ad497b .elementor-heading-title {
        font-size: 23px;
    }
}


/* Start Custom Fonts CSS */
/* 
@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('../../2020/04/AGANE%c3%a2%c2%95%c2%a0%c3%83%c2%87-45-LIGHT.html') format('truetype');
} */
/* 
@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url('../../2020/04/AGANE%c3%a2%c2%95%c2%a0%c3%83%c2%87-65-BOLD.html') format('truetype');
}

@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: 100;
    font-display: auto;
    src: url('../../2020/04/Agane%c3%a2%c2%95%c2%a0%c3%83%c2%87-45-light-2.html') format('truetype');
} */


/* End Custom Fonts CSS */