.elementor-37816 .elementor-element.elementor-element-4743e4d>.elementor-container {
    max-width: 1211px;
}

.elementor-37816 .elementor-element.elementor-element-4743e4d:not(.elementor-motion-effects-element-type-background),
.elementor-37816 .elementor-element.elementor-element-4743e4d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2020/07/electric-radiator-in-bedroom.jpg");
    background-size: cover;
}

.elementor-37816 .elementor-element.elementor-element-4743e4d>.elementor-background-overlay {
    background-color: #54595F;
    opacity: 0.34;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37816 .elementor-element.elementor-element-4743e4d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 170px 0px 170px 0px;
}

.elementor-37816 .elementor-element.elementor-element-44a2299 {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-44a2299 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Agane";
    font-size: 46px;
    font-weight: normal;
    line-height: 1.5em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.elementor-37816 .elementor-element.elementor-element-88b5cb4 .elementor-button {
    border-radius: 50px 50px 50px 50px;
}

.elementor-37816 .elementor-element.elementor-element-88b5cb4>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-2add238 {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-37816 .elementor-element.elementor-element-a71d63e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-37816 .elementor-element.elementor-element-a71d63e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-37816 .elementor-element.elementor-element-ffffab0 img {
    width: 100%;
}

.elementor-bc-flex-widget .elementor-37816 .elementor-element.elementor-element-1f2956e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-37816 .elementor-element.elementor-element-1f2956e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-37816 .elementor-element.elementor-element-738fb14 {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-738fb14 .elementor-heading-title {
    color: #54595F;
    font-family: "Agane";
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5em;
}

.elementor-37816 .elementor-element.elementor-element-cd4e708 {
    text-align: center;
    color: #54595F;
    font-family: "Agane";
    font-size: 18px;
}

.elementor-37816 .elementor-element.elementor-element-cd4e708>.elementor-widget-container {
    margin: 0px 50px -25px 50px;
}

.elementor-37816 .elementor-element.elementor-element-6591b61 .elementor-icon-list-icon i {
    color: #23A455;
    font-size: 14px;
}

.elementor-37816 .elementor-element.elementor-element-6591b61 .elementor-icon-list-icon svg {
    fill: #23A455;
    width: 14px;
}

.elementor-37816 .elementor-element.elementor-element-6591b61 .elementor-icon-list-icon {
    text-align: left;
}

.elementor-37816 .elementor-element.elementor-element-6591b61 .elementor-icon-list-text {
    color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-6591b61 .elementor-icon-list-item,
.elementor-37816 .elementor-element.elementor-element-6591b61 .elementor-icon-list-item a {
    font-family: "Agane";
    font-size: 18px;
}

.elementor-37816 .elementor-element.elementor-element-6591b61>.elementor-widget-container {
    margin: 0px 0px 0px 90px;
}

.elementor-37816 .elementor-element.elementor-element-770dde3>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-37816 .elementor-element.elementor-element-770dde3:not(.elementor-motion-effects-element-type-background),
.elementor-37816 .elementor-element.elementor-element-770dde3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-37816 .elementor-element.elementor-element-770dde3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 50px 0px;
}

.elementor-37816 .elementor-element.elementor-element-770dde3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37816 .elementor-element.elementor-element-51e12de>.elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63.elementor-view-stacked .elementor-icon {
    background-color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63.elementor-view-framed .elementor-icon,
.elementor-37816 .elementor-element.elementor-element-3e36f63.elementor-view-default .elementor-icon {
    fill: #54595F;
    color: #54595F;
    border-color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon {
    font-size: 45px;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon-box-title {
    margin-bottom: 12px;
    color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon-box-title,
.elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon-box-title a {
    font-family: "Agane";
    font-size: 22px;
    font-weight: normal;
}

.elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon-box-description {
    color: #54595F;
    font-family: "Agane";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-37816 .elementor-element.elementor-element-5d92406>.elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14.elementor-view-stacked .elementor-icon {
    background-color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14.elementor-view-framed .elementor-icon,
.elementor-37816 .elementor-element.elementor-element-c6a5d14.elementor-view-default .elementor-icon {
    fill: #54595F;
    color: #54595F;
    border-color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon {
    font-size: 45px;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon-box-title {
    margin-bottom: 12px;
    color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon-box-title,
.elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon-box-title a {
    font-family: "Agane";
    font-size: 22px;
    font-weight: normal;
}

.elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon-box-description {
    color: #54595F;
    font-family: "Agane";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-37816 .elementor-element.elementor-element-12cdbd1>.elementor-element-populated {
    padding: 25px 25px 25px 25px;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd.elementor-view-stacked .elementor-icon {
    background-color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd.elementor-view-framed .elementor-icon,
.elementor-37816 .elementor-element.elementor-element-bfa29cd.elementor-view-default .elementor-icon {
    fill: #54595F;
    color: #54595F;
    border-color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd.elementor-position-right .elementor-icon-box-icon {
    margin-left: 15px;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd.elementor-position-left .elementor-icon-box-icon {
    margin-right: 15px;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 15px;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon {
    font-size: 45px;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon-box-title {
    margin-bottom: 12px;
    color: #54595F;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon-box-title,
.elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon-box-title a {
    font-family: "Agane";
    font-size: 22px;
    font-weight: normal;
}

.elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon-box-description {
    color: #54595F;
    font-family: "Agane";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.elementor-37816 .elementor-element.elementor-element-a118e3e {
    padding: 50px 0px 50px 0px;
}

.elementor-37816 .elementor-element.elementor-element-63cdebd>.elementor-widget-container {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #938884;
}

.elementor-37816 .elementor-element.elementor-element-773b1e9:not(.elementor-motion-effects-element-type-background),
.elementor-37816 .elementor-element.elementor-element-773b1e9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F9F9F9;
}

.elementor-37816 .elementor-element.elementor-element-773b1e9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 100px 0px;
}

.elementor-37816 .elementor-element.elementor-element-773b1e9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37816 .elementor-element.elementor-element-0b61a14>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta__content {
    min-height: 396px;
    text-align: center;
    padding: 60px 60px 60px 60px;
    background-color: #F9F9F9;
}

.elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta__title {
    font-family: "Agane";
    font-size: 31px;
}

.elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta__description {
    font-family: "Agane";
    font-size: 18px;
}

.elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: rgba(2, 1, 1, 0);
}

.elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta .elementor-cta__bg,
.elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-37816 .elementor-element.elementor-element-f92a8dc>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta__content {
    min-height: 396px;
    text-align: center;
    padding: 60px 60px 60px 60px;
    background-color: #F9F9F9;
}

.elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta__title {
    font-family: "Agane";
    font-size: 31px;
}

.elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta__description {
    font-family: "Agane";
    font-size: 18px;
}

.elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: rgba(2, 1, 1, 0);
}

.elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta .elementor-cta__bg,
.elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-37816 .elementor-element.elementor-element-f4a40a5>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta__content {
    min-height: 396px;
    text-align: center;
    padding: 60px 60px 60px 60px;
    background-color: #F9F9F9;
}

.elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta__title {
    font-family: "Agane";
    font-size: 31px;
}

.elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta__description {
    font-family: "Agane";
    font-size: 18px;
}

.elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta:not(:hover) .elementor-cta__bg-overlay {
    background-color: rgba(2, 1, 1, 0);
}

.elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta .elementor-cta__bg,
.elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-37816 .elementor-element.elementor-element-24135ab>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-e4bec91 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-37816 .elementor-element.elementor-element-e4bec91>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-37816 .elementor-element.elementor-element-39c860c .elementor-icon-wrapper {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-39c860c.elementor-view-stacked .elementor-icon {
    background-color: #ff842c;
}

.elementor-37816 .elementor-element.elementor-element-39c860c.elementor-view-framed .elementor-icon,
.elementor-37816 .elementor-element.elementor-element-39c860c.elementor-view-default .elementor-icon {
    color: #ff842c;
    border-color: #ff842c;
}

.elementor-37816 .elementor-element.elementor-element-39c860c.elementor-view-framed .elementor-icon,
.elementor-37816 .elementor-element.elementor-element-39c860c.elementor-view-default .elementor-icon svg {
    fill: #ff842c;
}

.elementor-37816 .elementor-element.elementor-element-39c860c .elementor-icon {
    font-size: 44px;
}

.elementor-37816 .elementor-element.elementor-element-39c860c .elementor-icon i,
.elementor-37816 .elementor-element.elementor-element-39c860c .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-37816 .elementor-element.elementor-element-39c860c>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-e2ddfb3 {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-e2ddfb3 .elementor-heading-title {
    color: #54595f;
    font-size: 22px;
}

.elementor-37816 .elementor-element.elementor-element-e2ddfb3>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-2d48c0b .elementor-button {
    border-radius: 50px 50px 50px 50px;
}

.elementor-37816 .elementor-element.elementor-element-2d48c0b>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-d92fe00 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-d92fe00 .elementor-icon {
    font-size: 44px;
}

.elementor-37816 .elementor-element.elementor-element-d92fe00 .elementor-icon i,
.elementor-37816 .elementor-element.elementor-element-d92fe00 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-37816 .elementor-element.elementor-element-d92fe00>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-0be71b1 {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-0be71b1 .elementor-heading-title {
    color: #54595f;
    font-size: 22px;
}

.elementor-37816 .elementor-element.elementor-element-0be71b1>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-dbaea51 .elementor-button {
    border-radius: 50px 50px 50px 50px;
}

.elementor-37816 .elementor-element.elementor-element-dbaea51>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-bd3b1ef .elementor-icon-wrapper {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-bd3b1ef .elementor-icon {
    font-size: 44px;
}

.elementor-37816 .elementor-element.elementor-element-bd3b1ef .elementor-icon i,
.elementor-37816 .elementor-element.elementor-element-bd3b1ef .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-37816 .elementor-element.elementor-element-bd3b1ef>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-4900c0a {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-4900c0a .elementor-heading-title {
    color: #54595f;
    font-size: 22px;
}

.elementor-37816 .elementor-element.elementor-element-4900c0a>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-7438500 .elementor-button {
    border-radius: 50px 50px 50px 50px;
}

.elementor-37816 .elementor-element.elementor-element-7438500>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-37816 .elementor-element.elementor-element-c9871c7 {
    padding: 0px 0px 100px 0px;
}

.elementor-37816 .elementor-element.elementor-element-b6696bf {
    text-align: center;
}

.elementor-37816 .elementor-element.elementor-element-b6696bf .elementor-heading-title {
    color: #54595F;
    font-size: 23px;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion {
    border-radius: 50px 50px 50px 50px;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title {
    font-family: "Verdana";
    color: #333;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
    font-size: 16px;
    margin-left: 10px;
    color: #333;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon-svg svg {
    color: #333;
    fill: #333;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
    border-radius: 50px 50px 50px 50px;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .eael-accordion-tab-title {
    color: #fff;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon {
    color: #fff;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon svg {
    color: #fff;
    fill: #fff;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover {
    border-radius: 50px 50px 50px 50px;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
    color: #fff;
    border-radius: 50px 50px 50px 50px;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .eael-accordion-tab-title {
    color: #fff;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon {
    color: #fff;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon svg {
    color: #fff;
    fill: #fff;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-content {
    color: #333;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle,
.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header>.fa-toggle-svg {
    font-size: 16px;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle {
    color: #444;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle svg {
    color: #444;
    fill: #444;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle {
    color: #fff;
}

.elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle svg {
    color: #fff;
    fill: #fff;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-37816 .elementor-element.elementor-element-3cf3cb9 {
        width: 100%;
    }
    .elementor-37816 .elementor-element.elementor-element-a71d63e {
        width: 100%;
    }
    .elementor-37816 .elementor-element.elementor-element-1f2956e {
        width: 100%;
    }
}

@media(min-width:1025px) {
    .elementor-37816 .elementor-element.elementor-element-4743e4d:not(.elementor-motion-effects-element-type-background),
    .elementor-37816 .elementor-element.elementor-element-4743e4d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-37816 .elementor-element.elementor-element-4743e4d {
        padding: 200px 0px 200px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-3cf3cb9>.elementor-element-populated {
        padding: 30px 30px 30px 30px;
    }
    .elementor-37816 .elementor-element.elementor-element-2add238 {
        padding: 50px 0px 50px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-ffffab0 img {
        width: 48%;
    }
    .elementor-37816 .elementor-element.elementor-element-770dde3 {
        padding: 25px 25px 25px 25px;
    }
    .elementor-37816 .elementor-element.elementor-element-51e12de>.elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon-box-title,
    .elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon-box-title a {
        font-size: 20px;
    }
    .elementor-37816 .elementor-element.elementor-element-5d92406>.elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon-box-title,
    .elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon-box-title a {
        font-size: 20px;
    }
    .elementor-37816 .elementor-element.elementor-element-12cdbd1>.elementor-element-populated {
        padding: 15px 15px 15px 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon-box-title,
    .elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon-box-title a {
        font-size: 20px;
    }
}

@media(max-width:767px) {
    .elementor-37816 .elementor-element.elementor-element-4743e4d:not(.elementor-motion-effects-element-type-background),
    .elementor-37816 .elementor-element.elementor-element-4743e4d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: top right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .elementor-37816 .elementor-element.elementor-element-4743e4d {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-3cf3cb9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-44a2299 .elementor-heading-title {
        font-size: 39px;
    }
    .elementor-37816 .elementor-element.elementor-element-44a2299>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 40px 0px 40px;
    }
    .elementor-37816 .elementor-element.elementor-element-2add238 {
        padding: 0px 20px 40px 20px;
    }
    .elementor-37816 .elementor-element.elementor-element-ffffab0 img {
        width: 100%;
    }
    .elementor-37816 .elementor-element.elementor-element-ffffab0>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-cd4e708 {
        text-align: center;
    }
    .elementor-37816 .elementor-element.elementor-element-cd4e708>.elementor-widget-container {
        margin: 0px 10px 0px 10px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-6591b61 .elementor-icon-list-icon {
        text-align: left;
    }
    .elementor-37816 .elementor-element.elementor-element-6591b61>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }
    .elementor-37816 .elementor-element.elementor-element-770dde3 {
        padding: 50px 20px 60px 20px;
    }
    .elementor-37816 .elementor-element.elementor-element-51e12de>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-3e36f63 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-5d92406>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-c6a5d14 .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-c6a5d14>.elementor-widget-container {
        margin: 40px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-12cdbd1>.elementor-element-populated {
        padding: 25px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-bfa29cd .elementor-icon-box-icon {
        margin-bottom: 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-bfa29cd>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-63cdebd>.elementor-widget-container {
        margin: -60px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-773b1e9 {
        padding: 0px 20px 0px 20px;
    }
    .elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta__content {
        min-height: 184px;
        padding: 20px 20px 10px 20px;
    }
    .elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta__bg-wrapper {
        min-width: 186px;
    }
    .elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta__title {
        font-size: 27px;
    }
    .elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta__title:not(:last-child) {
        margin-bottom: 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-f92a8dc .elementor-cta__description:not(:last-child) {
        margin-bottom: 5px;
    }
    .elementor-37816 .elementor-element.elementor-element-f92a8dc>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta__content {
        min-height: 184px;
        padding: 20px 20px 10px 20px;
    }
    .elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta__bg-wrapper {
        min-width: 186px;
    }
    .elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta__title {
        font-size: 27px;
    }
    .elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta__title:not(:last-child) {
        margin-bottom: 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-f4a40a5 .elementor-cta__description:not(:last-child) {
        margin-bottom: 5px;
    }
    .elementor-37816 .elementor-element.elementor-element-f4a40a5>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta__content {
        min-height: 184px;
        padding: 20px 20px 10px 20px;
    }
    .elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta__bg-wrapper {
        min-width: 186px;
    }
    .elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta__title {
        font-size: 27px;
    }
    .elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta__title:not(:last-child) {
        margin-bottom: 15px;
    }
    .elementor-37816 .elementor-element.elementor-element-24135ab .elementor-cta__description:not(:last-child) {
        margin-bottom: 5px;
    }
    .elementor-37816 .elementor-element.elementor-element-24135ab>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-e4bec91 {
        padding: 20px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-d92fe00>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-bd3b1ef>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-c9871c7 {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-b6696bf .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title {
        font-size: 14px;
        line-height: 1.5em;
    }
    .elementor-37816 .elementor-element.elementor-element-de88a9d .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
        padding: 05px 10px 05px 20px;
        border-radius: 50px 50px 50px 50px;
    }
    .elementor-37816 .elementor-element.elementor-element-de88a9d>.elementor-widget-container {
        margin: 0px 20px 0px 20px;
    }
}


/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('../../2020/04/AGANE%c3%a2%c2%95%c2%a0%c3%83%c2%87-45-LIGHT.html') format('truetype');
}

@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url('../../2020/04/AGANE%c3%a2%c2%95%c2%a0%c3%83%c2%87-65-BOLD.html') format('truetype');
}

@font-face {
    font-family: 'Agane';
    font-style: normal;
    font-weight: 100;
    font-display: auto;
    src: url('../../2020/04/Agane%c3%a2%c2%95%c2%a0%c3%83%c2%87-45-light-2.html') format('truetype');
}


/* End Custom Fonts CSS */